/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .login-wrapper {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #74ebd5, #9face6);
  }
  
  .login-form {
    background: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    width: 320px;
    text-align: center;
  }
  
  .login-form h2 {
    margin-bottom: 10px;
    color: #333;
  }
  
  .login-form p {
    margin-bottom: 20px;
    /* color: #666; */
    font-size: 14px;
  }
  
  .login-form input {
    width: 100%;
    padding: 12px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
  }
  .error {
    color: red;
    font-size: 13px;
    text-align: left;
    margin: -12px 0 12px;
  }
  .login-form button {
    width: 100%;
    padding: 12px;
    background-color: #4b7bec;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .login-form button:hover {
    background-color: #3867d6;
  }
  
  .footer-text {
    margin-top: 20px;
    font-size: 13px;
    color: #888;
  }
  
  .footer-text a {
    color: #4b7bec;
    text-decoration: none;
  }
  